@import "~bootstrap/scss/bootstrap.scss";

#container {
    margin: auto;
    background: black;
    width: 90px;
    height:200px;
    color: blue;
    border-radius: 30px;
};

.redlight {
    display: flex;
    background: red;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    }

.yellowlight {
    display: flex;
    background: yellow;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    }

.greenlight {
    display: flex;
    background: green;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    }

.active {
    box-shadow:white 0px 0px 50px 20px;
    }